@media screen and (min-width: 1200px) {
  .col-xl-13 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .category-item.lamp {
    margin: 20px 0;
  }
  .category-item {
    margin: 20px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .category-item.lamp {
    margin: 20px 0;
  }
  .shop-item .item {
    margin: 20px 0;
  }
}
@media screen and (min-width: 425px) and (max-width: 576px) {
  .category-item.lamp {
    margin: 20px 0;
  }
}
@media screen and (min-width: 425px) and (max-width: 986px) {
  .navbar-collapse {
    background-color: rgba(250, 235, 215, 1);
    text-align: center;
  }
  .nav-item .title-label {
    display: none;
  }
  .header-control {
    justify-content: center;
  }
}
